<!--<div class="container">-->
<!--<form action="" method="post">-->
<!--<div class="form-group">-->
<!--<label for="username">Username:</label>-->
<!--<input class="form-control" id="username" value="{{ username }}" name="username">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="password">Password</label>-->
<!--<input type="password" class="form-control" id="password" value="{{ password }}" name="password">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="backend_url">Backend URL</label>-->
<!--<input id="backend_url" class="form-control" name="backend_url" value="{{ backend_url }}">-->

<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="backend_port">Backend PORT</label>-->
<!--<input id="backend_port" class="form-control" name="backend_port" value="{{ backend_port }}">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="app_name">App name</label>-->
<!--<input id="app_name" class="form-control" name="app_name" value="{{ app_name }}">-->
<!--</div>-->

<!--<button type="submit" class="btn btn-default">Save configuration</button>-->
<!--</form>-->
<!--</div>-->


<!--<nav>-->
<!--<div class="nav nav-tabs" id="nav-tab" role="tablist">-->
<!--<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"-->
<!--aria-controls="nav-home" aria-selected="true">Home</a>-->
<!--<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"-->
<!--aria-controls="nav-profile" aria-selected="false">Profile</a>-->
<!--<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"-->
<!--aria-controls="nav-contact" aria-selected="false">Contact</a>-->
<!--</div>-->
<!--</nav>-->
<!--<div class="tab-content" id="nav-tabContent">-->
<!--<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>-->
<!--<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>-->
<!--<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>-->
<!--</div>-->



<!--<div class="container" class="toggled">-->
            <!--<div class="wrapper">-->

                <!--&lt;!&ndash; Sidebar &ndash;&gt;-->
                <!--<nav id="sidebar">-->
                    <!--<div class="sidebar-header">-->
                        <!--<h3>Daemon settings</h3>-->
                    <!--</div>-->
                    <!--<ul class="list-unstyled components">-->
                        <!--<li class="active"><a href="#">Home</a></li>-->
                        <!--<li><a href="#">User</a></li>-->
                        <!--<li><a href="#">General</a></li>-->
                        <!--<li><a href="#">Ports</a></li>-->
                    <!--</ul>-->
                <!--</nav>-->

                <!--&lt;!&ndash; Page Content &ndash;&gt;-->
                <!--<div id="content">-->
                     <!--We'll fill this with dummy content-->
                <!--</div>-->

            <!--</div>-->

        <!--</div>-->